{% extends 'base.html' %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
	<br><br>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">information of project</h2>
        <div class="col-4 mt-5">
            <h3> project: {{ object.title }} </h3>
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Project Status:</label>
                    {% if object.status %}
                    	<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                    {% else %}
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    {% endif %}
            </div>
            <p>start: {{ object.start_date }}</p>
            <p>end: {{ object.end_date }}</p>
            <p style="background-color: {{ object.color }};width: 40px;height: 40px;border-radius: 40px"></p>
            <p>budget : {{ object.budget }}</p>
        </div>
        <div class="col-4 mt-5">
            <h4>description:</h4>
            <p>{{ object.description }}</p>


            <a href="{% url 'projects:projects_update' object.id %}" class="btn btn-primary mt-5">Update</a>
            <a href="{% url 'projects:projects_delete' object.id %}" class="btn btn-danger mt-5">Delete</a>
            <a href="{% url 'projects:projects_list' %}" class="btn btn-outline-danger mt-5">Back</a>
        </div>
        <div class="col-4 mt-5">
            <img src="{{ object.image.url }}"
                 width="100%" height="200px"
                 style="border-color: black;border-radius: 30px;box-shadow: rgba(0,0,0,0.2) 10px 10px 10px 10px">

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">

            <h2>all task of this project</h2>
        </div>
        <div class="col-3">
            <a href="{% url 'projects:create_task' object.id %}"
               class="btn btn-success"
            >add new task</a>
        </div>
    </div>

    <section class="d-flex justify-content-center">
        <div class="row d-flex justify-content-center" style="margin-left: 100px">

            {% if object.task.all%}
            	{% for task in object.task.all %}
            		<div class="col-lg-4" style="text-align: center">
                    <div class="card m-3" style="width: 18rem;border-color: {{ object.color }}">
                        <img src="{{ task.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title}}</h5>
                            <p class="card-text">{{ task.description }}</p>
                            <a href="{% url 'projects:task_detail' task.id %}" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            	{% endfor %}

            {% endif %}
        </div>
    </section>
</div>
<br>
{% endblock %}